.nav {
    grid-area: n;
    background-color: #edeef0;
    padding: 20px;
}

.item {
    padding: 5px 0;
}

.item a {
    color: #000;
    text-decoration: none;
}

.item a.activeLink {
    color: #63b8ee;
}